#info {
  position: absolute;
  top: 0px;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  font-family:Monospace;
  font-size:13px;
  text-align:center;
}

a {
  color: #ffffff;
}

:host {
  position: fixed;
  top: 0;
  right: 0;
}
