.FancyMusicPlayer {
  position: fixed;
  top: 120px;
  right: 30px;
  width: 300px;
  height: auto;
  box-shadow: 2px 2px 10px #000;
  #container {
    width: 300px;
    height: 154px;
    font-size: 0;
  }
}