.ArticleEdit {
  background-color: transparent;
  .rdw-storybook-editor {
    height: 70vh;
    border: 1px solid #eee;
  }
  .rdw-storybook-wrapper {
    height: 70%;
  }
  .ant-input-group-compact {
    width: auto;
    margin-right: 2rem;
  }
}
