.my-home {
  .my-face {
    display: grid;
    grid: auto-flow dense / 1fr 20rem 1fr;
    grid-gap: 10px;
    .face-left {
      width: 100%;
      height: 100%;
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
    .face-center {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
    .face-right {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
  }
}
