{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["react-hooks", "prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "react/jsx-wrap-multilines": ["error", { "arrow": true, "return": true, "declaration": true }],
    "react/forbid-prop-types": "off",
    "no-plusplus": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "func-names": "off",
    "prettier/prettier": ["error"],
    "max-len": ["error", { "code": 100 }],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["warn"],
    "no-return-assign": ["off"],
    "react/jsx-one-expression-per-line": ["off"]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
