.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
nz-row {
  height: 100%;
  //background-size: auto 100%;
  background: url("/assets/imgs/fancy-girl.jpg") no-repeat center top fixed;
}
.gradient-bg {
  height: 100%;
  background: -webkit-linear-gradient(to top right, #14191c, #212320);
  background: linear-gradient(to top right, #14191c, #212320);
}
nz-card {
  background: rgba(255,255,255,0.8);
}
