.Main {
  height: 100%;
  .header {
    z-index: 9;
    .ant-menu {
      margin-left: 50px;
      .ant-menu-item-selected {
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.5);
        border-bottom: 2px solid #68edad;
      }
    }
  }
  .background-img {
    background: url("../../assets/imgs/cute_colorful_vector_illustration_I_need_a_Monsta.jpg");
  }
  .sider-rgba {
    background: rgba(255, 255, 255, 0.5);
    .ant-menu {
      background: inherit;
      .ant-menu-item-selected {
        background: rgba(104, 237, 173, 0.5);
      }
    }
  }
  .rgba-background {
    background-color: transparent;
  }
}

.content-container {
  position: relative;
  margin: 0;
  min-height: 280px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.custom-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0.1em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #68edad;
  }
}

#info {
  position: absolute;
  top: 0;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  font-size:13px;
  text-align:center;
}
a {
  color: #ffffff;
}
