nz-layout {
  position: relative;
  height: 100%;
  background-size: 100% auto;
  background: url("/assets/imgs/mounting.jpg") 0 0 no-repeat;
}
#canvas {
  position: absolute;
  top: 104px;
  left: 336px;
}
